<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="serif {{body_class}}">

    <header class="main-header{{#if @blog.cover}}" style="background-image: url({{@blog.cover}});{{else}} no-cover{{/if}}">
        <div class="vertical blog-logo">
            <nav class="main-nav">
                {{#if @blog.logo}}<a href="{{@blog.url}}" style="background-image: url({{@blog.logo}});" ><span style="visibility: hidden;">Logo</span></a>{{/if}}
                <a href="{{@blog.url}}/rss/">RSS</a>
            </nav>
        </div>
    </header>

    {{! Everything else gets inserted here }}
    {{{body}}}

    <footer class="site-footer">
            <span><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</span>
            <span><a href="{{@blog.url}}/rss/">RSS</a></span>
            <span>(｢･ω･)｢ <a href="https://ghost.org">Ghost</a></span>
    </footer>

    {{! Ghost outputs important scripts and data with this tag }}
    {{!ghost_foot}}

    {{! The main JavaScript file for Casper }}
    <script type="text/javascript" src="{{asset "js/main.js"}}"></script>

</body>
</html>
